@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
      --color-blue1: 67 90 162;
      --color-blue2: 36 64 142;
      --color-pink: 221 102 150;
      --color-gray1: 241 241 242;
      --color-gray2: 155 157 159;
      --color-gray3: 109 110 112;
      --color-white: 255 255 255;
      --color-black: 0 0 0;
    }
    
  h1 {
    font-family: var(--font-PaytoneOne), sans-serif;
    font-size: 2.25rem/* 36px */;
    line-height: 2.5rem/* 40px */;
    color: rgb(var(--color-blue1));
  }
  h2 {
    font-family: var(--font-PaytoneOne), sans-serif;
    font-size: 1.5rem;
    line-height: 1.7rem;
    color: rgb(var(--color-blue1));
  }
  h4 {
    font-family: var(--font-ProzaLibre), sans-serif;
  }
  
  p {
    font-family: var(--font-Lato), sans-serif;
  }

  button {
    font-family: var(--font-Lato), sans-serif;
    color: rgb(var(--color-blue1));
    font-weight: 800;
    font-size: 1.1rem;
    letter-spacing: 1px;
  }

  /* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(var(--color-gray2));
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(var(--color-blue1));
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--color-blue2));
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
@keyframes fadeOutAnimation {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
   }
}
}

.name-container {
  container-type: size;
}
.horizontal {
  resize: horizontal;
}
.horizontal .child {
  font-size: 10cqw;
}

.markdown h2 {
  font-family: var(--font-PaytoneOne), sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  color: rgb(var(--color-blue1));
  margin-top: 25px;
  margin-bottom: 5px;
}

.markdown br {
    display: block;
    margin: 10px 0;
}


.markdown ul {
  list-style: none; /* Remove default bullets */
}

.markdown ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  font-weight: bold;
  font-size: 2em;/* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  color: var(--color-blue2)
}

.btn:active {
  animation: button-pop 0.25s ease-out;
}


@keyframes button-pop {
  0% {
    transform: scale(.90)
  }
  40% {
    transform: scale(1.02)
  }
  to {
    transform: scale(1)
  }
}

.preload {
  display: none;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}


.toggle .hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.toggle-wrapper {
  width: 60px;
  display: block;
}

.toggle {
  height: 25px;
  width: 60px;
  background: var(--foreground);
  transition: background var(--transition);
  border-radius: 40px;
  padding: 3px;
  position: relative;
  margin: auto; 
  cursor: pointer;
}

.toggle::before {
  content: "";
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 30px;
  background: var(--background);
  transition: transform var(--transition), background var(--transition);
  position: absolute;
  transform: translate(0);
}

.toggle.enabled::before {
  transform: translateX(32px);
}

.toggle input {
    position: absolute;
    top: 0;
  opacity: 0;
}

.toggle .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 5px;
}

.toggle .icons svg {
  fill: var(--background);
  height: 15px;
  width: 15px;
}

.carousel {
  z-index: 0;
}

.carouselCard {
  position: absolute;
  opacity: 0;
  transition: 1s  ease-in-out;
}

.carouselCard-active {
  opacity: 1;
}